<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConexionBD"
         connectionString="Server=DESKTOP-36I7E5D\SQLEXPRESS;Database=SistemaMantenimiento;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />

    <authentication mode="Forms">
      <forms loginUrl="~/Cuenta/Login" timeout="30" slidingExpiration="true" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Proyecto_N2" />
        <add namespace="Proyecto_N2.Models" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="Microsoft.Web.Infrastructure"
          publicKeyToken="31bf3856ad364e35"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-2.0.0.0"
          newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
